.result-row{
    font-size: 15px;
    margin-top: 5px;
    width: 70vw;
    display: flex;
    align-items: center;
    color: #e7effa;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.result-row:hover {
    width: 98%;
    border-radius: 10px;
    animation-duration: 0.25s;
    padding: 2px;
    border: 2px solid black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.champion-icon {
    height: 32px;
    width: 32px;
    border: 0.5px solid black;
    border-radius: 8px;
}

.item-icon {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.6);
}

.row-icon {
    height: 32px;
    width: 32px;
    border-radius: 8px;
}

.secondary-rune-path-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 14px;
    width: 14px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 8px;
}

.challengernamewon-container {
    text-align: left;
    width: 90px;
    margin-left: 83px;
    padding-left: 2.5px;
    border-left: 2.5px solid green;
}

.challengernameloss-container {
    text-align: left;
    width: 90px;
    margin-left: 68px;
    padding-left: 2px;
    border-left: 2.5px solid red;
}

.challengerimage-container{
    margin-left: 30px;
}

.cross-container {
    margin-left: 15px;
}

.vs-container {
    margin-left: 15px;
}

.score-container {
    margin-left: 30px;
}

.lane-container {
    margin-left: 30px;
}

.items-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.items-container img {
    margin-left: 2px;
}

.gold-container {
    margin-left: 30px;
}

.keystone-container {
    margin-left: 30px;
    position: relative;
}

.summonerspells-container {
    display: flex;
    margin-left: 30px;
}

@media (max-width: 760px) {
    .challengernamewon-container {
        margin-left: 15px;
    }
    .challengernameloss-container {
        margin-left: 15px;
    }
    .result-row:hover {
        width: 980px;
    }
    
}