.matchdetails-result-row-container{
    width: 820px;
    margin: auto;
}

.matchdetails-result-row {
    font-size: 15px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #e7effa;
}

.matchdetails-champion-icon {
    height: 32px;
    width: 32px;
    border: 0.5px solid black;
    border-radius: 8px;
}

.matchdetails-item-icon {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.6);
}

.matchdetails-row-icon {
    height: 32px;
    width: 32px;
    border-radius: 8px;
}

.matchdetails-secondary-rune-path-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 14px;
    width: 14px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 8px;
}

.matchdetails-challengername {
    text-align: left;
    width: 90px;
    min-width: 90px;

    white-space: nowrap;
   
}


.matchdetails-challengerimage-container{
    margin-left: 30px;
}


.matchdetails-score-container {
    text-align: left;
    width: 65px;
    min-width: 65px;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden;
}

.matchdetails-score-container span {
    margin-right: 1px;
}

.matchdetails-score-container .matchdetails-score-green {
    color:#57D900;
}

.matchdetails-score-container .matchdetails-score-red {
    color:#fe3636;
}

.matchdetails-score-container .matchdetails-score-transparent {
    color: rgba(256, 256, 256, 0.4);
}

.matchdetails-level-container {
    text-align: center;
    width: 25;
    min-width: 25;
    margin-left: 30px;
}

.matchdetails-items-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.matchdetails-items-container img {
    margin-left: 2px;
}

.matchdetails-items-container .matchdetails-empty-item {
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 32px;
    width: 32px;
    border-radius: 8px;
    border: 1px solid  rgba(0,0,0,0.6);
}


.matchdetails-gold-container {
    text-align: center;
    width: 45px;
    min-width: 45px;
    margin-left: 30px;
}

.matchdetails-keystone-container {
    margin-left: 30px;
    position: relative;
}

.matchdetails-summonerspells-container {
    display: flex;
    margin-left: 30px;
}

.matchdetails-tippy-box[data-theme~='itemtippy'] {
    background-color: #253348;
    border: 2px solid black;
}


@media (max-width: 760px) {
    .matchdetails-challengernamewon-container {
        margin-left: 15px;
    }
    .matchdetails-challengernameloss-container {
        margin-left: 15px;
    }
}