.search {
    margin-top: 30vh;
}


.homepage {
    height: 100vh;
    background: url("../../images/background/kdaevelynn.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}