.homepage-header {
    color: #eed15f;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 10px;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

/* .homepage-header span{
    margin-right: 3vw;
} */

.search {
    margin-top: 25vh;
}

.homepage-text {
    margin-top: 70px;
}

.homepage-text-header {
    color: #EED15F;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 80px;
    text-shadow: 2px 2px 4px #000000;
}

.homepage-text-header-firstletter {
    font-size: 110px;
}

.homepage-text-content {
    margin: auto;
    width: 800px;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
}


.homepage {
    height: 100vh;
    background: url("../../images/background/kdaevelynn-min.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 760px) {
    .homepage-text {
        margin-top: 25px;
    }
    
    .homepage-text-header {
        font-weight: 600;
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 45px;
    }
    
    .homepage-text-header-firstletter {
        font-size: 50px;
    }
    
    .homepage-text-content {
        display: none;
        margin-top: 5px;
        font-size: 12px;
        width: 94vw;
    }

    .homepage-header {
        font-size: 20px;
    }
}