.championdetailsbottom {
    min-height: 72vh;
    background-color: #1C2636;
    padding-top: 20px
}

.table-container{
    overflow-x:auto;
    margin-left: 15vw;
    margin-right: 15vw;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid black;
    border-radius: 1500px;
}
  
th, td {
color: #f2f2f2;
text-align: center;
padding: 8px;
}
  
tr:nth-child(odd){background-color: #253348;}