.championdetailsbottom {
    min-height: 72vh;
    background-color: #1C2636;
    padding-top: 20px;
}

.results-container {
    width: 70vw;
    height: auto;
    margin: auto;
    overflow-x:auto;
    padding-bottom: 10px;
}

.versus-input-container{
    width: 900px;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}
#versus-input-box{
    width: 300px;
    max-width: 80vw;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 5px 4px;
}


@media (max-width: 1280px) {
    .results-container {
        width: 94vw;
        height: auto;
        margin: auto;
        overflow-x:auto;
    }
    .versus-input-container{
        width: min(94vw, 900px);
    }
}

@media (max-width: 760px) {
    .versus-input-container{
        margin-left: 10px;
    }
}