.matchdetails-header-container{
    width: 820px;
    margin: auto;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.matchdetails-header {
    font-size: 15px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #EED15F;
}

.matchdetails-header-challenger-container {
    text-align: left;
}

.matchdetails-header-score-container {
    text-align: left;
    margin-left: 112px;
}

.matchdetails-header-level-container {
    text-align: left;
    margin-left: 50px;
}

.matchdetails-header-items-container {
    margin-left: 113px;
}

.matchdetails-header-gold-container {
    text-align: left;
    margin-left: 129px;
}
