.champion-card{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    
    background-color: #253348;
}

.champion-card:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.champion-card img{
    margin-left: 5px;
    height: 90px;
    width: 90px;
}

.champion-card-championname {
    margin: auto;
}