.championdetailstop {
    height: 28vh;
    background-color: #253348;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    color: #c8dbdc;
}

.championdetailstop-textgroup {
    margin-left: 20px;
}

.championdetailstop-championname {
    text-align: left;
    font-size: 55px;
    
}

.championdetailstop-thenumber {
    color: #EED15F;
}

.champion-picture {
    border-radius: 5px;
}

@media (max-width: 760px) {
    .championdetailstop-championname {
        font-size: 28px;
    }
    .championdetailstop-textgroup {
        margin-left: 10px;
    }
}