.matchdetails {
    background-color: #1C2636;
    height: auto;
    min-height: 100vh;
    color: #e7effa;
}

.matchdetails-container {
    margin: auto;
    height: auto;
    width: 70vw;
    overflow-x:auto;
}

.matchdetails-scoreboard-container {
    margin: auto;
}

.matchdetails-banned-champions  {
    display: flex;
    align-items: center;
}

.matchdetails-banned-champions img {
    height: 24px;
    width: 24px;
    border: 0.5px solid black;
    border-radius: 8px;
}

.matchdetails-scoreboard-blueteam {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 820px;
    margin-top: 15px;
}

.matchdetails-scoreboard-redteam {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 820px;
    margin-top: 30px;
}

.matchdetails-scoreboard-gameduration{
    color: rgba(256, 256, 256, 0.8);
    width: 820px;
    margin: auto;
    text-align: right;
    font-size: 14px;
}

.matchdetails-timeline-container {
    margin-top: 15px;

}

.matchdetails-timeline-header {
    margin-top: 15px;
    text-align: left;
    color: #e7effa;
    font-size: 20px;
}

.matchdetails-timeline-items {
    margin-top: 10px;
    display: flex;
    font-size: 13px;
}

.matchdetails-timeline-itemsinaminute-witharrow{
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

.matchdetails-arrow-right {
    height: 2px;
    width: 2px;
    margin-top: 13px;
    margin-left: 3px;
    border: solid #e7effa;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.matchdetails-timeline-itemsinaminute-item-container {
    display: flex;
    /* background-color: #253348; */
    /* border: 2px solid #EED15F; */
    border-radius: 4px;
}

.matchdetails-timeline-itemsinaminute-item-container img {
    height: 40px;
    width: 40px;
    margin-right: 2px;
}

.matchdetails-timeline-itemsinaminute-minute {
    margin-top: -5px;
}

.matchdetails-abilityorder-header {
    text-align: left;
    color: #e7effa;
    font-size: 20px;
}

@media (max-width: 760px) {
    .matchdetails-container {
        width: 94vw;
        margin: auto;
        overflow-x:auto;
    }
    .matchdetails-timeline-items{
        width: 820px;
        overflow-x:auto;
    }
}
@media (min-width: 760px) {
    .matchdetails-timeline-items {
        flex-wrap: wrap;
    }
}